.selectBox {
	color: #00f078;
	border: 4px solid #00f078;
	border-radius: 20px;
	padding: 5px 100px;
	cursor: pointer;
	user-select: none;
	margin-right: 10px;
}

.selectBox span {
	font-size: 1.2em;
}
